ion-input {
  width: 50px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid;
}

.slider-label {
  width: 40px;
}

.range-width {
  width: 126px;
}

.kcal-label {
  padding-left: 14px;
  width: 50px;
  margin-right: 18px;
}

.kcal-value {
  margin-left: 12px;
  width: 50px;
  text-align: center;
}
