.file-input {
  //   background: aquamarine;
  color: aquamarine;
}

ion-item {
  //color: #647b9d;
  //--border-color: #d4d7db;
  //--highlight-color-focused: #1248a0;
  //   border-radius: 25px;
  margin-top: 5px;
  --padding-start: 0;
  --inner-padding-end: 0;

  //   font-size: 23px;
  // --color-focused:#1248A0 !important;
  ion-input {
    //color: #647b9d;
    // height: 63px;
  }
  ion-icon {
    padding-right: 6px;
    padding-left: 10px;
    font-size: 18px;
  }

  ion-input:hover {
    //color: #1248a0;
  }
}

span.ion-text-left {
  margin-right: auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.input-spacer {
  margin-right: 10px;
}

.sign-btn-wrap {
  text-align: center;
  margin-top: 70px;

  .sign-btn {
    //--ion-primary-color: #215ab7;
    //--background-activated: #e1eaf9;
    //--background-focused: #e1eaf9;
    //--background-hover: #647b9d;
    //color: #f4f6fa;
    width: 200px;
    border-radius: 25px;
    //--background: #215ab7;
    //background-color: #215ab7;
  }
}
// .sign-btn {
//   margin-top: 50px;
//   margin: 50px auto 0 auto;
// }
